 body {
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      align-items: center;
      min-height: 100vh;
      margin: 0;
      background: #f5f5f5;
    }
    h1
    {
      padding-left: 330px;
    }
    h1
    {
      text-shadow: #000;
      
    }
    .container {
      display: flex;
      gap: 20px;
      padding: 20px 24px;
      border-radius: 16px;
      border: 1px solid #000;
      background: #ffffff;
      max-width: 800px;
    }

    .kk {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-width: 220px;
    }

    
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .r {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 8px;
    }

    input,
    select {
      width: 100%;
      padding: 6px;
      margin-top: 3px;
      border-radius: 8px;
      border: 1px solid #777;
      font: inherit;
    }

    input.error {
      border: 2px solid rgb(241, 167, 167);
    }

    .info {
      font-size: 14px;
      color: rgb(54, 54, 54);
      margin: 0 0 8px;
    }

    button {
      padding: 8px 16px;
      border-radius: 10px;
      border: none;
      font-size: 15px;
      cursor: pointer;
      margin-right: 8px;
    }

    button[type="submit"],
    button[type="reset"] {
      background-color: #e83c91;
      color: #fff;
    }

    a {
      text-decoration: none;
      border: 1px solid #f5e7c6;
      font-size: 15px;
      border-radius: 10px;
      padding: 8px 16px;
      background-color: #faf3e1;
      color: #000;
    }

    a:hover {
      color: #57595b;
    }

    .am {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 12px;
    }